:host {
  .itvillamenu {

    display: grid;
    grid-gap: 10px; // gap between row and column
    grid-template-columns: 1fr auto; //first column is 1fr rest is auto
    padding: 10px; // padding for the container
    background-color: blue; // entire container bule background
    color: white; // all text  
}

ul {
  display: grid; 
  grid-gap: 10px;
  grid-auto-flow: column;// will display in cols 

  li {
      display: inline;
  }
}
}

.active {
  background-color: grey;
}